#aboutButton {
    background-color:rgb(255, 255, 255, 1);
    border:none;
    width:30px;
    height:30px;
    border-radius:15px;
    z-index:1;
    position:absolute;
    top:5%;
    left:70%;
    color:rgba(40,155,255);
    font-family: Quicksand;
    font-weight:bold;
    font-size:15px;
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    
}


#aboutTextContainer {
    display:none;
    position:absolute;
    height:300px;
    width:300px;
    border-radius:15px;
    top:7%;
    left:73%;

}

#aboutTextContainer .arrow {
    position: absolute;

  }
  
#aboutButton:hover {
    background-color:rgba(40,155,255);
    width:30px;
    height:100px;
    font-size:1px;
}
#aboutButton:hover + #aboutTextContainer {
    display:block;
    


}
/*#arrowLeft {
    position:absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid rgb(30,144,255); 
    z-index:1;
  }*/
#projectDescription {
    position:absolute;
    font-family: Quicksand;
    font-size:14px;
    border: 2px solid rgb(255, 255, 255);
    background-color:rgb(255, 255, 255, 0.3);
    left:5%;
    top:-10%;
    width:300px;
    border-radius:5px;
    color:white;
    padding:30px;
/*    -moz-box-shadow:     -1px 3px 5px 0px rgb(100, 100, 100);
    -webkit-box-shadow:  -1px 3px 5px 0px rgb(100, 100, 100);
    box-shadow:          -1px 3px 5px 0px rgb(100, 100, 100);*/
    font-weight:bold;
}