#loginButtonContainer {
    position:absolute;
    z-index:100;
    bottom:10%;
    top:7%;
    left:3%;

  

}

#loginButton {
    display:block;
    position:absolute;
    border-radius:2px;
    background-color:rgb(255, 255, 255, 1);
    width:30px;
    height:30px;
    left:50%;
    border:none;
    outline:none;
    font-family: Quicksand;
    font-weight:bold;


}

#loginButton:hover {
    background-color:rgba(197,161,88);
}