#loginButton {
    display:block;
    outline:none;
    width:47px;
    height:47px;
    border: 2px solid rgb(255, 255, 255);
    border-radius:5px;
}



#loginButton:hover {
    background-color:rgb(255, 255, 255);
}