#text {
    position:fixed;
    background-color:none;
    font-size:10pt;
    color:white;
    top:4%;
    left:31%;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
#onboardContainer{
    height:100%;
    width:100%;
}
tr, td {
    padding:10px;
}
#tlText{
    width:100%;
    position: absolute;
    top:94%;
    font-size:10pt;
    text-align: center;
    color:white;
    font-family: 'Overpass', sans-serif;
}
#logo{
    display:block;
    position:absolute;
    left:5%;
    top:87%;
}