#text {
    background-color:none;
    font-size:10pt;
    color:white;
    position: absolute;
    font-family: 'Overpass', sans-serif;
    top:5%;
    left:33%;
    text-align: center;
}
#onboardContainer{
    display:block;
    height:100%;
    width:100%;
}
    
table td {
    border-right:solid 50px transparent;
    border-left:solid 5px transparent;
}
#tlText{
    width:100%;
    position: absolute;
    top:94%;
    font-size:10pt;
    text-align: center;
    color:white;
    font-family: 'Overpass', sans-serif;
}
#logo{
    display:block;
    position:absolute;
    left:5%;
    top:87%;
}