
.ball {
	border-radius: 2px;
    background-color:rgba(0, 0, 0);
    position:absolute;
    display: inline-block;
	height: 30px;
    width: 20px;
    z-index:10;
    top:110%;
-webkit-box-shadow: 0px 0px 41px -5px rgba(117,117,117,1);
-moz-box-shadow: 0px 0px 41px -5px rgba(117,117,117,1);
box-shadow: 0px 0px 41px -5px rgba(117,117,117,1);
}
.ball:active {
    background-color: rgb(197,161,88);
}

.ball:hover {
    background-color: rgb(197,161,88);
}
.ball.returnToOrigin {
    transition: left 0.5s ease;
}


#timelineContainer {
	position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    height:0px;
    width:700px;
    margin-left:auto;
    margin-right:auto;
}

.timelineLine {
    border-top: 3px dotted rgb(190, 190, 190,0.5);
    border-bottom:none;
    border-left:none;
    border-right:none;
    border-radius: 5px;
}

