body {
  height:100%;
}


#visual {
  z-index:0;
  width:100%;
  height:100%;
}

#container {

  position:absolute;
  height:100%;
  width:100%;

  height:100%;

}

#appContainer {
  height:100%;

  width:100%;


}

#windowPopup {
  display:flex;
  align-items: center;
  justify-content: center; 
  position:absolute;
  background-color:rgb(212, 211, 211);
  width:100px;
  height:100px;
  z-index:10;
  border-radius:0px 10px 10px 10px;
  padding:5px;
  font-family:Quicksand;

}
/* timeline*/
#clockTime {
  position:absolute;
  width:100px;
  height:50px;
  left:50%;
  top:85%;
  z-index:10;
  color:white;
  font-family:Quicksand;
  font-weight: bold;
  font-size: 20pt;
}

/*#notLoggedInWarning {
  display:block;
  position:absolute;
  background-color:rgb(173, 173, 173, 0.8);
  padding:10px;
  left:50%;
  top:50%;
  width:500px;
}*/

/*#blocker{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  content: '';
  z-index:25;

}*/